<div class="list-group">
  <h3>How to sign up</h3>
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Name</h5>
      <small class="text-muted">Name should be up to 50 alphanumerical characters</small>
    </div>
  </a>
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Last Name</h5>
      <small class="text-muted">Last Name should be up to 50 alphanumerical characters</small>
    </div>
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Role</h5>
      <small class="text-muted">One of : Admin, Project manager, HR manager or CEO</small>
    </div>
  </a>
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Email</h5>
      <small class="text-muted">Email should look like : email@email.com</small>
    </div>
  </a>
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Password</h5>
      <small class="text-muted">Password shouldn't be less than 8 characters</small>
    </div>
  </a>
</div>